@import '../../../../../constants/styling/theme/variables.scss';

.UserList {
  background-color: #ffffff;
  scrollbar-width: none;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.UserList button {
  margin: 1rem;
}

.UserList table {
  width: 100%;
}

.UserList table svg:hover {
  color: $primary-color-alt;
}

.UserListRow:nth-child(even) {
  background-color: $secondary-color;
}

.loader {
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loaderText {
    margin-top: 10px;
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .UserList {
    padding: 1.5rem 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .UserList table {
    width: 30vw;
  }
}
