.TournamentInformation {
    margin: 1.5rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}  
.TournamentInformationHeader{
    display: flex;
    align-items: end;
}

.TournamentInformationHeader h6{
    margin-left: 0.5rem;
    color: rgb(71, 71, 71);
}
.TournamentInformationTable{
    width: 60%;
}

.roundsButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;

    .buttons{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 0%,
            white 90%,
            transparent
        );
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

        .button {
            height: 50px;
            background-color: #003994;
            margin-right: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            cursor: pointer;

            & > p {
                color: #ffffff;
                font-size: 18px;
            }
        }
    }
}

.tournamentInformationTableContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .vsContainer{
        width: 37.9%;
    }
}