.TournamentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;

    .header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .name {
            width: 45%;
        }

        .formGroup{
            width: 45%;
        }
    }

    .title{
        width: 100%;
    }

    .subtitle{
        color: #b8b8b8;
        font-size: 15px;
        margin-bottom: 15px;
        width: 100%;
        text-align: left;
    }

    .usersListRow{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: scroll;
        -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 0%,
            white 90%,
            transparent
        );
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .userCard{
            min-width: 80px;
            min-height: 80px;
            border-radius: 6px;
            border: 1px solid #81d8dc;
            padding: 10px;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            &:hover {
                background-color: #81d8dc6c;
            }
        }
    }
}
.TournamentFormButton {
    margin: 1rem;
}