.MatchesForm{
    width: 1200px;

    h4{
        text-align: center;
    }
}

.MatchesFormGrid {
    margin: 1.5rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;


    .matchesFields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #e7e7e7;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;


        .title {
            font-size: 14px;
            width: 100%;
            color: #7a7a7a;
            margin-bottom: 10px;
        }

        .scoresRow {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        justify-content: space-between;
    }

        .scores {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .matchesLabel {
            width: 100%;
        }
    }
}