@import '../../../../constants/styling/theme/variables.scss';

.pageContainer {
  background-image: linear-gradient(to bottom right, #3794e0, #0035a7);
  min-height: 100vh;
  max-width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  .buttonGood {
    padding: 10px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
  }

  & > h3 {
    padding-top: 1.5rem;
    margin-left: 1.5rem;
  }

  .loading {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 7px;
    border: 3px solid #fff;
  }

  .header {
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      width: fit-content;
      border-radius: 10px;
      background-color: #fff;
      padding: 10px 20px;

      @media screen and (max-width: 600px) {
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 600px) {
      .mainLabels {
        transform: scale(0.85);
      }
    }

    .logo {
      width: 100px;
      height: 100px;
      background-color: #fff;
      border-radius: 10px;

      @media screen and (max-width: 600px) {
        margin: 10px auto;
      }

      .image {
        width: 100%;
        height: auto;
      }
    }
  }

  .controlPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .panelTitle {
      margin-left: 15px;
      padding: 3.5px 10px;
      border-radius: 5px 5px 0 0;
      color: #7a7a7a;
      background-color: #e7e7e7;
      font-size: 12px;
      width: fit-content;
    }

    .controlPanelContainer {
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      @media screen and (max-width: 1200px) {
        width: 70%;
        box-sizing: border-box;
      }

      @media screen and (max-width: 1000px) {
        width: 80%;
        box-sizing: border-box;
      }

      @media screen and (max-width: 800px) {
        width: 100%;
        box-sizing: border-box;
      }

      .controls {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        .switchPositions {
          @media screen and (max-width: 880px) {
            display: none;
          }
        }

        .button {
          margin-right: 10px;
        }
      }

      .controlsResponsive {
        width: 100%;
        margin-top: 10px;
        display: none;

        @media screen and (max-width: 880px) {
          display: block;
        }
      }

      .loader {
        padding-top: 5px;
        padding-right: 10px;
      }
    }
  }

  .tournamentTablesContainer {
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    min-height: 300px;

    @media screen and (max-width: 880px) {
      display: none;
    }

    .shadow {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: #7a7a7a7a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      -webkit-mask: linear-gradient(
        180deg,
        transparent,
        white 2.5%,
        white 97.5%,
        transparent
      );

      mask: linear-gradient(
        180deg,
        transparent,
        white 2.5%,
        white 97.5%,
        transparent
      );

      & > p {
        max-width: 350px !important;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
      }
    }

    .tableComponentsContainer {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      transition: all 500ms ease-in-out;

      @media screen and (max-width: 880px) {
        display: none;
      }

      &__asideActive {
        width: 65%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        transition: all 500ms ease-in-out;

        @media screen and (max-width: 880px) {
          width: 100% !important;
        }
      }
    }

    .asideContainer {
      width: 0%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      content-visibility: hidden;
      transition: opacity 1000ms ease-in-out;

      @media screen and (max-width: 600px) {
        display: none;
      }

      &__active {
        width: 35%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        content-visibility: visible;
        transition: opacity 1000ms ease-in-out;

        @media screen and (max-width: 1100px) {
          width: 55%;
        }

        @media screen and (max-width: 950px) {
          width: 40%;
        }

        @media screen and (max-width: 880px) {
          display: none;
        }
      }
    }
  }

  .tournamentSwipeableContainerResponsive {
    display: none;
    width: 100%;

    @media screen and (max-width: 880px) {
      display: block;
    }

    .tournamentPositionsTableResponsive {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .tournamentTablesContainerResponsive {
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    min-height: 300px;
    display: none;

    @media screen and (max-width: 880px) {
      display: flex;
    }

    .shadow {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: #7a7a7a7a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      -webkit-mask: linear-gradient(
        180deg,
        transparent,
        white 2.5%,
        white 97.5%,
        transparent
      );

      mask: linear-gradient(
        180deg,
        transparent,
        white 2.5%,
        white 97.5%,
        transparent
      );

      & > p {
        max-width: 350px !important;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
      }
    }

    .tableComponentsContainer {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      transition: all 500ms ease-in-out;

      &__asideActive {
        width: 65%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        transition: all 500ms ease-in-out;
      }
    }

    .asideContainer {
      width: 0%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      content-visibility: hidden;
      transition: opacity 1000ms ease-in-out;

      &__active {
        width: 35%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        content-visibility: visible;
        transition: opacity 1000ms ease-in-out;
      }
    }
  }

  .tournamentFinalInfo {
    width: 97%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    align-self: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      width: 100%;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .winner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        font-size: 80px;
        color: green;
        margin: 25px 0;
      }

      .first {
        font-size: 14px;
        color: #7a7a7a;
      }

      .secondary {
        font-size: 22px;
        font-weight: 900;
        color: green;
      }

      .terciary {
        font-size: 14px;
        color: #7a7a7a;
        margin: 10px 0;
      }

      .datas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        .winnerTable {
          width: 320px;

          .resultsWinner {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            padding-bottom: 5px;

            .listItem {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  .historyTable {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    box-sizing: border-box;

    .title {
      width: fit-content;
      border-radius: 10px;
      background-color: #fff;
      padding: 10px 20px;
    }
  }
}
